@import "variables.scss";

#badge {
  background-color: $yellow;
  color: $black;
  position: absolute;
  top: 1%;
  right: 3%;
}
.card {
  border-radius: 21px !important;
  border: none !important;
  img {
    border-radius: 21px 21px 0 0;
    max-height: 30vh;
  }
}
.dropdown-container {
  // Set the width of the dropdown container to 200px, and set the width of the dropdown menu to 200px, to match his parent container
  width: 200px;
  display: flex;
  justify-content: start;
  align-items: center;
  & .dropdown-menu {
    width: 200px;
    & .dropdown-item:hover {
      background-color: $yellow !important;
      color: $black !important;
    }
    & .input-group {
      & .btn-deleteSearch {
        position: absolute !important;
        padding: 0;
        margin: 0;
        top: 21% !important;
        right: 15% !important;
        display: none;
        z-index: 5 !important;
      }

      & #btn-tags-search {
        position: absolute;
        padding: 0;
        margin: 0;
        border: none;
        top: -1%;
        right: 2%;
        background-color: transparent;
      }
    }
  }
}

#btn-main-deleteSearch {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 37%;
  right: 10%;
  z-index: 10;
}

#tags {
  // max-height: 5vh;
  padding-left: 0.5em;
  .tag {
    background-color: $yellow;
    color: $black;
    font-size: 1em;
    padding: 0.5em 30px;
    height: auto;
  }
}
